article.home-view{
	max-width:1200px;
	margin: 0 auto;
}

input{
	background-color: #333;
	border: none;
	width: 80%;
	margin: auto;
	display: block;
	border: 1px solid #ddd;
	border-radius: 50px;
	color: white;
	padding: 5px;
	padding-left: 20px;
	font-size: 22px;
}