article.home-view{
	max-width:1200px;
	margin: 0 auto;
}

input{
	background-color: #333;
	border: none;
	width: 80%;
	margin: auto;
	display: block;
	border: 1px solid #ddd;
	border-radius: 50px;
	color: white;
	padding: 5px;
	padding-left: 20px;
	font-size: 22px;
}

#homeArticle{
	margin-left: 300px;
	margin-right: 300px;
}

#inputArtist{
	margin-top: 50px;
}

#searchBoxArtist{
	margin-left: 20px;
	margin-top: 30px;
	width: 800px;
	height: 30px;
	border-radius: 15px;
	padding: 5px 5px 5px 35px;
}

.input_lupa{
	padding-left: 100px;
	margin-top: 10px;
}

#searchBoxLupa{
	display: flex;
  	flex-flow: row;
}